semantic-web-hw1/src/main/resources/data/recipes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="recipes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recipe" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>

                            <xs:element name="cuisineTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cuisine" type="xs:string" minOccurs="2" maxOccurs="2"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="difficultyLevels">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="level" type="xs:string" minOccurs="3" maxOccurs="3"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="description" type="xs:string"/>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>